@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 654px;
    padding: 40px;
    left: 409px;
    top: 79px;
    border-radius: 12px;
    gap: 32px;
    background-color: white;
    z-index: 10;
    display: none;
    border: 1px solid #CECECE;
    button{
        background-color: white;
        border: none;
    }
    p,hr{
        margin: 0;
        padding: 0;
    }
}

.form-top {
    max-width: 574px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border-bottom: 1px solid #D0D5DD;
    p{
        font-weight: 600;
        line-height: 24.38px;
        font-size: 1.25rem;
        color: #09174A;
    }
}

.form-bottom {
    display: flex;
    flex-direction: column;
    max-width: 574px;
    width: 100%;
    gap: 32px;
}

.form-contents {
    
    max-width: 574px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    p{
        color: #282829;
        font-size: 1rem;
        font-weight: 500;
        line-height: 19.5px;
    }
}
.form-subcontents {
    max-width: 574px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.task-form-inputbox{
    max-width: 574px;
    border: 1px solid #D0D5DD;
    padding: 14px 16px;
    border-radius: 8px;
}
.form-buttons {
    display: flex;
    gap: 12px;
    justify-content: end;
}
#form-cancel-btn,#form-editcancel-btn{
    max-width: 96px;
    border-radius: 8px;
    border:  1px solid #D0D5DD;
    padding: 10px 20px;
}
#form-addtask-btn,#form-edittask-btn{
    max-width: 115px;
    border-radius: 5px;
    background-color: #0C39C7;
    padding: 10px 20px;
    color: white;
}
#addtask-description{
    max-height:108px ;
    height: 100%;
}
#edittask-description{
    max-height:108px ;
    height: 100%;
}