@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
body p {
  margin: 0;
  padding: 0;
}
body hr, body span {
  margin: 0;
  padding: 0;
}
body button {
  padding: 0;
  border: none;
  margin: 0;
}

.parent-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 32px 64px;
  gap: 32px;
}
.parent-container .title-container {
  display: flex;
  max-width: 1312px;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
}
.parent-container .title-container .title-container-left {
  display: flex;
  align-items: center;
  max-width: 1157px;
  width: 100%;
}
.parent-container .title-container .title-container-left p {
  color: #101828;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
}
.parent-container .title-container #add-new-task {
  background-color: #0C39C7;
  max-width: 143px;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
}
.parent-container hr {
  max-width: 1312px;
  border: 1px solid #0C39C7;
}
.parent-container .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parent-container .search .input-group {
  border: 1px solid #CECECE;
  border-radius: 8px;
  display: flex;
  background-color: white;
  padding: 10px 14px;
  gap: 8px;
  max-width: 578px;
}
.parent-container .search .input-group input {
  margin: 0;
  padding: 0;
  border: none;
  color: #939393;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}
.parent-container .search .input-group input:focus {
  outline: none;
  box-shadow: none;
}
.parent-container .search .input-group button {
  background: none;
  border: none;
}
.parent-container .search .input-group button img {
  max-width: 20px;
}
.parent-container .search .sort {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.parent-container .active-tasks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.parent-container .active-tasks .active-tasks-menu {
  display: flex;
  flex-direction: column;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item {
  display: flex;
  padding: 24px;
  border: 1px solid #CECECE;
  border-radius: 8px;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child {
  max-width: 1264px;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  display: flex;
  gap: 14px;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content {
  display: flex;
  flex-direction: column;
  max-width: 1218px;
  width: 100%;
  gap: 12px;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content .active-tasks-menu-item-child-content-title {
  display: flex;
  justify-content: space-between;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content .active-tasks-menu-item-child-content-title .active-tasks-menu-item-child-content-title-heading {
  display: flex;
  align-items: center;
  gap: 8px;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content .active-tasks-menu-item-child-content-title .active-tasks-menu-item-child-content-title-heading p {
  color: #282829;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 21.94px;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content .active-tasks-menu-item-child-content-title .active-tasks-menu-item-child-content-title-heading .active-tasks-menu-item-child-content-title-heading-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #EBB705;
  border-radius: 50%;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content .active-tasks-menu-item-child-content-title .active-tasks-menu-item-child-content-title-icon {
  display: flex;
  gap: 16px;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content .active-tasks-menu-item-child-content-title .active-tasks-menu-item-child-content-title-icon button {
  background-color: white;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content .active-tasks-menu-item-child-content-title .active-tasks-menu-item-child-content-title-icon button img {
  max-width: 24px;
  max-height: 24px;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.parent-container .active-tasks .active-tasks-menu .active-tasks-menu-item .active-tasks-menu-item-child .active-tasks-menu-item-child-content #date {
  border: none;
  align-items: center;
  max-width: 137px;
}
.parent-container .completed-tasks {
  display: flex;
  flex-direction: column;
  max-width: 1312px;
  gap: 20px;
}
.parent-container .completed-tasks .completed-tasks-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parent-container .completed-tasks .completed-tasks-top p {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 21.94px;
  color: #8B8B8B;
}
.parent-container .completed-tasks .completed-tasks-top .completed-tasks-top-right #clear-completed-task {
  background-color: white;
  max-width: 205px;
  border-radius: 5px;
  border: 1px solid #0C39C7;
  padding: 10px 20px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
  color: #0C39C7;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item {
  display: flex;
  padding: 24px;
  border: 1px solid #CECECE;
  border-radius: 8px;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child {
  max-width: 1264px;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  display: flex;
  gap: 14px;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content {
  display: flex;
  flex-direction: column;
  max-width: 1218px;
  width: 100%;
  gap: 12px;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content .completed-tasks-menu-item-child-content-title {
  display: flex;
  justify-content: space-between;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content .completed-tasks-menu-item-child-content-title .completed-tasks-menu-item-child-content-title-heading {
  display: flex;
  align-items: center;
  gap: 8px;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content .completed-tasks-menu-item-child-content-title .completed-tasks-menu-item-child-content-title-heading p {
  color: #282829;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 21.94px;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content .completed-tasks-menu-item-child-content-title .completed-tasks-menu-item-child-content-title-heading .completed-tasks-menu-item-child-content-title-heading-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #EBB705;
  border-radius: 50%;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content .completed-tasks-menu-item-child-content-title .completed-tasks-menu-item-child-content-title-icon {
  display: flex;
  gap: 16px;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content .completed-tasks-menu-item-child-content-title .completed-tasks-menu-item-child-content-title-icon button {
  background-color: white;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content .completed-tasks-menu-item-child-content-title .completed-tasks-menu-item-child-content-title-icon button img {
  max-width: 24px;
  max-height: 24px;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.parent-container .completed-tasks .completed-tasks-bottom .completed-tasks-menu-item .completed-tasks-menu-item-child .completed-tasks-menu-item-child-content #date {
  border: none;
  align-items: center;
  max-width: 137px;
}/*# sourceMappingURL=style.css.map */